USE [master]
GO
/****** Object:  Database [araç_otopark]    Script Date: 2.01.2023 20:49:32 ******/
CREATE DATABASE [araç_otopark]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'araç_otopark', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\araç_otopark.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'araç_otopark_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\araç_otopark_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [araç_otopark].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [araç_otopark]
GO
/****** Object:  Table [dbo].[araç_otopark_kaydı]    Script Date: 2.01.2023 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[araç_otopark_kaydı](
	[tc] [nvarchar](50) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[plaka] [nvarchar](50) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[seri] [nvarchar](50) NOT NULL,
	[renk] [nvarchar](50) NOT NULL,
	[parkyeri] [nvarchar](50) NOT NULL,
	[tarih] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[araçdurumu]    Script Date: 2.01.2023 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[araçdurumu](
	[parkyeri] [nvarchar](50) NOT NULL,
	[durumu] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[markabilgileri]    Script Date: 2.01.2023 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[markabilgileri](
	[marka] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satis]    Script Date: 2.01.2023 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[parkyeri] [nvarchar](50) NOT NULL,
	[plaka] [nvarchar](50) NOT NULL,
	[geliş_tarihi] [nvarchar](50) NOT NULL,
	[çıkış_tarihi] [nvarchar](50) NOT NULL,
	[süre] [decimal](18, 2) NOT NULL,
	[tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_satis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[seribilgileri]    Script Date: 2.01.2023 20:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seribilgileri](
	[marka] [nvarchar](50) NULL,
	[seri] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
